# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
GAA

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# other stuff
.DS_Store
*.tar
*.swp

# hardware stuff
.qsys_edit
soc_system/*
soc_system.sopcinfo
c5_pin_model_dump.txt
db/*
hps_isw_handoff/*
hps_sdram_p0_all_pins.txt
incremental_db/*
output_files/*
soc_system.qpf
soc_system.qsf
soc_system.sdc

